:root{
    --primary-color:rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height:120px;
    --navbar-height:40px;
    --star-gold-color:#ffee3e;
}
*{
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* responsive */

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.grid__column-2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16.667%;
}
.grid__column-2-4{
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;

}
.grid__column-10{
    padding-left: 10px;
    padding-right: 10px;
    width: 83.333%;
}
/* Animation */

@keyframes FadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Modal__layout */
.modal{

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;

}


.modal__overlay{

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 

}
@keyframes Growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    width: 500px;
    margin: auto;
    z-index: 1;
    animation: Growth linear 0.1s
}
.btn{
    min-width: 124px;
    height: 34px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;

}
.btn.btn-normal:hover{
    background-color: rgba(0,0,0,0.1);
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 3px;
}
/* App__container */
.app__container{
    background-color: #f5f5f5;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    margin:0 0 0 0;
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    margin-top: -2px;
    position: relative;
    top: -1px;
}
.category-list{
    list-style-type: none;
    padding:0;
    margin: 2px 0 0 3px;
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item{
    position: relative;
    text-transform: uppercase;
}
.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    width: 80%;
    position: absolute;
    top: 0;
    right: 20px;
}
.category-item:first-child::before{
    display: none;
}
.category-item__link{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 16px;
    display: block;
}
.category-item__link:hover{
    color: var(--primary-color);
}

/* Selection__input */
.select-input{
    height: 34px;   
    padding: 0 12px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
}
.select-input-icon{
    color: #888;
}

/* Pagination */
.pagination{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}
.pagination-item__link{
    --height: 30px;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
    font-size: 1.4rem;
}

.pagination-item{
    margin: 0 12px;
}
.pagination-item-icon{
    font-size: 1.6rem;
}