.app{
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding: 0;
    margin-top: 6px;
    display: flex;

}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    align-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    top: 110%;
    right: 0;
    padding: 0;
    list-style-type: none;
    width: 140px;
    border-radius: 2px;
    background-color: var(--white-color);
    z-index: 1;
    box-shadow: 1px 3px 5px #999;
    display: none;
    animation: GrowUp ease-in 0.2s;
    transform-origin: 50% top;
}
.header__navbar-user-menu::before{
    content: "";
    position: absolute;
    top: -19px ;
    right: 20px;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__navbar-user-menu::after{
    content: "";
    position: absolute;
    top: -5px;
    width: 100%;
    height: 12px;
}
.header__navbar-user-item:first-child>a:hover{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item:last-child>a:hover{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item>a{
    text-decoration: none;
    display: block;
   padding:8px 12px;
}
.header__navbar-user-item>a:hover{
    background-color: #fafafa;
}
.header__navbar-user-img{
    width: 25px;
    height: 25px;
    border: 1px solid #999;
    border-radius: 50%;
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 1px;

}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-icon:first-child{
    margin-left: 8px;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-60%);
    right: -10px;
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link,
.header__navbar-item{
    display: inline-flex;
    align-items: center;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* Header_qr_code */
.header__qr{
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 2px;
    display: none;  
    animation: FadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 3px #ccc;
}
.header__qr::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 15px;
    top: -10px;
}
.header__qr-img{
    width: 100%;
    border-radius: 2px;
}
.header__qr-apps{
    display: flex;
    justify-content: space-around;
}
.header__qr_download-img{
    height: 18px;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

/* header__notification */
.header__notify{
    position: absolute;
    width: 404px;
    top: 110%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    display: none;
    will-change: opacity, transform;
    transform-origin: calc( 100% - 32px) top;
    animation: GrowUp ease-in 0.2s;
    z-index: 1;
}
@keyframes GrowUp {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify::before{
    content: "";
    border-width: 20px 25px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 12px;
}
.header__notify::after{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    height: 12px;
    width: 90px;
    display: block;
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    cursor: text;
}
.header__notify-header >h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item:hover{
    background-color: #f3f3f3;
    
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(238, 77, 45,0.07);
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;

}
.header__notify-description{
    margin-top: 2px;
    font-size: 1.2rem;
    display: block;
    color: #756f6e;
    line-height: 2rem;
}
.header__notify-footer{
    text-align: center;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 16px;
    display: inline-block;
    font-weight: 500;

}
/* Authen__modal */
.auth-form{
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
.auth-form__input{
    height: 40px;
    width: 100%;
    padding: 0 12px;
    margin-top: 16px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 3px;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 16px;
}
.auth-form__policy-text{
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
}
.auth-form__policy-text>a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}
.auth-form__controls{
    margin-top: 80px;
    text-align: right;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-from-socials{
    background-color: #f3f3f3;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.btn.btn--with-icon{
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 1.2rem;
    line-height: 32px;
    text-decoration: none;
    padding-right: 30px;
     border-radius: 3px;
}
.btn.btn--with-icon>i{
    font-size: 2rem;
}
.auth-from-socials--facebook{
    background-color: #3a5a89;
    color: var(--white-color);
}
.auth-from-socials--google{
    background-color: var(--white-color);
    color: #666;
}
.auth-from-socials--facebook>i{
    color: var(--white-color);
    padding: 0 12px;
}
.auth-from-socials--google>i{
    padding: 0 12px;
}

/* Register */
.auth-form__help{
    display:  flex;
    justify-content: flex-end;
    margin-top: 4px;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;

}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 20px;
    margin: -2px 16px 0;
}
.auth-form__help-link:nth-child(1){
    color: var(--primary-color);
    font-weight: 500;
}
.auth-form__help-link:last-child{
    color: #939393;
    padding-right: 5px;
}

/* Header search */

.header-with-search{
    height: calc(var(--header-height) - var(--navbar-height));
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header__mobile-search{
    padding: 0 8px;
    display: none;
}
.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display:  flex;
    align-items: center;
}
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 2px;
}
.header__search-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 16px;
    font-size: 1.4rem;
    border-radius: 2px;
}
.header__search-select{
    padding: 0 16px;
    position: relative;
    border-left: 1px solid #e8e8e8;
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
}
.header__search-select:hover .header-search-option{
    display: block;
}
.header__search-select::before{
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    top:100%;
    left: 0;
    position: absolute;
}
.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select >i{
    color: #4a4a4a;
    margin: 0 12px 0 8px;
    font-size: 1.4rem;
    position: relative;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 4px;
    width: 60px;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-btn:hover{
    background-color: #ec593c;
    cursor: pointer;
}
.header-search-option{
    position: absolute;
    right: 0;
    padding: 0;
    top: 85%;
    width: 130px;
    list-style-type: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 1px 3px 3px  #ccc;
    display: none;
    animation: FadeIn ease-in 0.3s;
    z-index: 1;
}
.header-search-option>li:hover{
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 2px;
}
.header-search-option>li{
    display: block;
    text-align: right;
    padding: 8px 0;
}
.header-search-option>li>span{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header-search-option>li>i{
    color: var(--primary-color);
    font-size: 1rem;
    margin: 0 8px;
}

/* search-history */
.header__search-history{
    position: absolute;
    top: 108%;
    box-shadow: 1px 1px 5px #ccc ;
    border-radius: 2px;
    left: 0;
    width: calc(100% - 20px);
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history-heading{
    margin: 12px 12px 8px 12px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #999;
}
.header__search-history-list{
    padding: 0;
    list-style: none;
    margin: 0;
}
.header__search-history-item{
    height: 36px;
    font-size: 1.4rem;
    padding: 0 8px;
}
.header__search-history-item>a{
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}
.header__search-history-item:hover{
    background-color: #fafafa;
}

/* Cart  */
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-notice{
    position: absolute;    
    top: -5px;
    right: -3px;
    border-radius: 40%;
    background-color: var(--white-color);
    display: block;
    padding: 2px 5px;
    color: var(--primary-color);
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: 140%;
    right: -2%;
    width: 400px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    display: none;
    cursor: default;
    z-index: 1;
}
.header__cart-list::before{
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg{
    margin-left:auto ;
    margin-right: auto;
    display: block;
}
.header__cart-no-cart-img{
    width: 50%;
    display: none;
}
.header__cart-list--no-cart{
    padding: 24px 0;
    
}
.header__cart-no-cart-msg{
    font-size: 1.4rem;
    margin: 24px 0 0 0;
    color: var(--text-color);
    font-weight: 400;
    display: none;
}
.header__cart-heading{
    text-align: left;
    margin: 12px 0 8px 12px ;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y:scroll;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 45px;
    height: 45px;
    margin: 12px;
    object-fit: cover;
    border: 1px solid var(--border-color);
}
.header__cart-item-info{
    flex: 1;
    margin-right: 16px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 2rem;
    padding-right: 4px;
    margin-right: 10px;
    flex: 1;
    text-align: left;

}
.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}
.header__cart-item-price-multiply{
    color: #757575;
    font-size: 1rem;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-remove{
    color: var(--black-color);
    font-weight: 500;
    font-size: 1.2rem;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    
}
.header__cart-view-cart:hover{
    background-color: #f05d41;
}


/* sort bar */

.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 46px;
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item{
    flex: 1;
}
.sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: 46px;
    text-align: center;
    position: relative;
}
.sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item--active .sort-link{
    color: var(--primary-color);
}
.header__sort-item:first-child .sort-link::before{
    display: none;
}
/* App__container */

.app__content{
    padding-top: 36px;
}

/* Mobile-category */

.mobile-category{
    display: none;
}
.mobile-category-list{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category-list::-webkit-scrollbar{
    display: none;
}
.mobile-category-item{
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category-link{
    color: var(--white-color);
    font-weight: 300;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    max-width: 110px;
    height: 40px;
    display: block;
    border-radius: 4px;
    padding: 2px;
    user-select: none;
    -webkit-user-select: none;

}
.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link{
    background-color: #87afd8;
}
.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link{
    background-color: #76c9bd;
}
.mobile-category-item:nth-of-type(3n + 3) .mobile-category-link{
    background-color: #88cf81;
}

/* Filter product */
.home-filter{
    background-color: rgba(0,0,0,0.06);
    width: 100%;
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
}
.home-filter__lable{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    background-color: var(--white-color);
    min-width: 90px;
}


/* List__option */
.select-input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 66%;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style-type: none;
    padding: 10px 16px;
    display: none;
    z-index: 1;
}
.select-input-list::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 100%;
    height: 12px;
}
.select-input:hover .select-input-list{
    display: block;
}
.select-input-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 5px 0;
}
.select-input-link:hover{
    color: var(--primary-color);
}
/* filter__page */

.home-filter__page{
    display: flex;
    margin-left: auto;
    align-items: center;
    color: var(--text-color);
}
.home-filter__page-num{
    margin-right: 22px;
    font-size: 1.5rem;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    width: 72px;
    height: 36px;
    display: flex;
    background-color: var(--white-color);
    border: 1px solid #fafafa;
    border-radius: 3px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #ccc;
}
.home-filter__page-btn>i{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
    cursor: default;
}

/* Product item */
.home-product{
    margin-top: 10px;
}
.home-product-item{
    background-color: var(--white-color);
    position: relative;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 3px rgba(204, 204, 204,0.9);
    transition:  transform ease-in-out 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
    
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 1px 2px 5px rgba(204, 204, 204,0.6);
}
.home-product-item__img{
    padding-top: 100%;
    background-position: center;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px 10px 6px 10px;
    line-height: 1.8rem;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.home-product-item__price{
    display: flex;
    margin: 0 10px;
    align-items: center;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    text-decoration: line-through;
    font-size: 1.4rem;
    color: #666;
    margin-right: 6px;
}
.home-product-item__price-current{
    font-size: 1.5rem;
    color: var(--primary-color);
    position: relative;
    top: -1px;

}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 6px 10px;
    align-items: center;
}
.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
    display: none;
    color: var(--primary-color);
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
    margin-top: -1px;
}
.home-product-item__star-gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--black-color);
    font-weight: 500;
    margin-left: 8px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    line-height: 1.6rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorite>span,
.home-product-item__favorite>i{
    color: var(--white-color);
}
.home-product-item__favorite::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(45%);


}
.home-product-item__favorite>i {
    font-size: 0.9rem;
    margin: 0 1px 0 5px;
}
.home-product-item__sale-off{
    width: 40px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    color:rgba(255, 216, 64,0.96) ;
    background-color: currentColor;
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.home-product-item__sale-off-labe{
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 500;
    padding-top: 5px;
    display: block;

}

/* home-product-pagination */
.home-product__pagination{
    margin: 40px 0 32px 0;
    padding: 0;
}

/* footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list{
    list-style: none;
    padding: 0;
}
.footer__list-item{
    list-style: none;
    padding: 0;
}
.footer__list-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #737373;
    padding: 6px 2px;
    display: block;
    display: flex;
    align-items: center;
}
.footer__list-item-link>i{
    font-size: 1.7rem;
    margin: -1px 6px 0 0;
}
.footer__list-item-link:hover{
    color: var(--primary-color);
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-apps{
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-apps-link{
    text-decoration: none;
}
.footer__download-apps-img{
    height: 18px;
}
.footer__bottom{
    background-color: #f5f5f5;
    padding: 12px 0;
    margin-top: 36px;
}
.footer__text{
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    width: 100%;
    color: #737373;
}